[Python] rest.py throws exception for non-error HTTP status responses

##### Description

rest.py throws an exception if the response HTTP status code is not 200 or 206.  There are a lot of other valid HTTP status codes that are not errors.  HTTP 102 Processing, HTTP 201 Created, HTTP 202 Accepted, HTTP 204 No Content....   

##### Swagger declaration file content or url

https://github.com/swagger-api/swagger-codegen/blob/7de1eeb987b9ae04460f78fe86f32a1bd4f01be7/modules/swagger-codegen/src/main/resources/python/rest.mustache#L194-L195

##### Steps to reproduce

Call any API that returns HTTP status 201, 202, 204, 102....

Swagger generated Python sdk will throw an APIException

##### Suggest a Fix

Shouldn't the code in rest.py not throw for any status code in the range 100..299?


@dthorpe thanks for reporting the issue. I wonder if you can submit a PR with the suggested fix so that we can review the change more easily?

For other API clients, it should have logic to handle 2xx code (e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/lib/ApiClient.php#L267) but nothing for 1xx yet.

Sure thing.

@dthorpe If you need help with the PR, please let ue know.

@wing328 I went ahead and created the PR

Given the information about 1xx codes from [RFC 7231 section 6.2](https://tools.ietf.org/html/rfc7231#section-6.2):

> The 1xx (Informational) class of status code indicates an interim  response for communicating connection status or request progress   prior to completing the requested action and sending a final    response. 1xx responses are terminated by the first empty line after   the status-line (the empty line signaling the end of the header   section).  Since HTTP/1.0 did not define any 1xx status codes, a   server MUST NOT send a 1xx response to an HTTP/1.0 client.
> 
>  A client MUST be able to parse one or more 1xx responses received   prior to a final response, even if the client does not expect one.  A   user agent MAY ignore unexpected 1xx responses.

, the 1xx should not be used as API response codes, they might be transparently handled on the HTTP library level not even reaching the user code. Thus, Codegen should not make any assumptions on 1xx responses.

Extending the range of 2xx responses is, indeed, the right way to do.