[Python] Allow Unicode Characters in Request Body.

In order to send a request with a string body containing unicode characters (like `'∆'`, for example), the body needs to be explicitly encoded using `body_str.encode('utf-8')` in order avoid the `UnicodeEncodeError` in https://github.com/python/cpython/blob/master/Lib/http/client.py#L1313
```
1312        if isinstance(body, str):
1313            # RFC 2616 Section 3.7.1 says that text default has a
1314            # default charset of iso-8859-1.
1315            body = _encode(body, 'body')
``` 
which is gonna try to explicitly encode it as `latin-1` and fail. 

I propose to fix it by updating this condition here
https://github.com/swagger-api/swagger-codegen/blob/modules/swagger-codegen/src/main/resources/python/rest.mustache#L182
which should allow all string types, as well as `bytes` type
```
182                elif isinstance(body, (six.string_types, six.binary_type))
```
instead of checking just for `isinstance` of `str`
